<div ng-controller="headerCtrl" ng-include="'template/header.html'"></div>
<br>
<div class="container">
  <div class="row activity-wrapper" ng-repeat="activity in activities">
    <div class="col-xs-12 col-sm-12 activity" ng-click="viewPost(activity.post_id)">
  <div class="activity-update" ng-show="activity.activities.length > 0">
    <a ng-href="#/employeeprofile?user_id={{activity.activities[activity.activities.length-1].done_by}}">{{activity.activities[activity.activities.length-1].user_name}}</a> has <span ng-if="activity.activities[activity.activities.length-1].type == 'comment'"> commented on post </span>
    <span ng-if="activity.activities[activity.activities.length-1].type == 'like'"> liked the post </span>
  </div>
      <div class="activity-header">
      
        <div class="activity-icon">
          <img ng-src="{{activity.priImageUrl.url}}" width='90' height='90'>
        </div>
        <div class="activity-title">
          <a ng-href="#/employeeprofile?user_id={{activity.user_id}}">{{activity.user_name}}</a> has posted to sell his {{activity.product}}.
        </div>
      
      </div>
      <div class="activity-details">
        <div class="activity-spec">
            Brand:{{activity.attribute.brand}},Model:{{activity.attribute.model}},Price:Rs. {{activity.attribute.price}}
        </div>
      <div class="col-xs-12" ng-show="activity.commentLength > 0">{{activity.commentLength}} comments
        <div class="post-comment" ng-repeat="cmnt in activity.comment | limitTo:-3 | orderBy: '-comment_id'">
        <a ng-href="#/employeeprofile?user_id={{cmnt.user_id}}"> {{cmnt.user_name}} </a> <span>{{cmnt.message}}</span>
        </div>
      </div>
      <div class="col-xs-12" ng-hide="activity.commentLength > 0">No comments yet </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'template/footer.html'"></div>