<div ng-controller="headerCtrl" ng-include="'template/header.html'"></div>
<div class="container">

	<table>
	<tbody>
		<tr>
			<td><h2>Follow Us on:</h2></td>
		</tr>
		<tr>
			<td align="center"><a href="https://plus.google.com/bidapp">
					<img class="follow_icon" src="img/g+.png" alt="g+" />
			</a></td>
			<td align="center"><a href="https://www.facebook.com/bidapp">
					<img class="follow_icon" src="img/fb.png" alt="fb" />
			</a></td>
			<td align="center"><a href="https://www.twitter.com/bidapp">
					<img class="follow_icon" src="img/twitter.png" alt="twitter" />
			</a></td>
		</tr>
	</tbody>
	</table>
</div>
<div ng-include="'template/footer.html'"></div>