<div id="footer" ng-controller="FooterController">
  <table style="width:100%">
  <tr>
    <td align="center">
    	<a href="#notification">
    		<img class="menu_icon" src="img/notification.png" alt="notification" />
    	</a>
    </td>
    <td align="center">
    	<a href="" ng-click="launchDashboard()">
    		<img class="menu_icon" src="img/bid.png" alt="bid" />
    	</a>
    </td>		
    <td align="center">
	    <a href="#lostorfound">
	    	<img class="menu_icon" src="img/lost_found.png" alt="lost or found" />
	    </a>
    </td>
    <td align="center">
	    <a href="#discussion">
	    	<img class="menu_icon" src="img/discussion.png" alt="discussion" />
	    </a>
    </td>
  </tr>
</table>
</div>
