<div id="header">
<table style="width:100%">
  <tr>
	<td align="left" style="width:50%"><img class="menu_icon" src="img/menu.png" alt="menu" id="menu-expand" ng-click="toggleLeftMenu($event)"/></td>
    <td align="right" style="width:50%"><img class="menu_icon" src="img/user.png" alt="user_info" ng-click="toggleRightMenu($event)" /></td>
  </tr>
</table>
</div>
<div id="left_menu" class='left_menu' ng-show="left_menu_open" ng-click="$event.stopPropagation()">
	<div>
		<img src="img/menu_open.png" class="menu_icon" id='menu-collapse' ng-click="toggleLeftMenu($event)"/>
	</div>
	<br>
	<br>
	<ul>
		<li><span class="fa fa-mobile-phone fa-2x"><a  href="#/filter?product=Mobile">Mobiles</a></span></li>
		<li><span class="fa fa-tablet fa-2x"><a  href="#/filter?product=Tablet">Tablets</a></span></li>
		<li><span class="fa fa-desktop fa-2x"><a  href="">TV</a></span></li>
		<li><span class="fa fa-camera fa-2x"><a  href="">Camera</a></span></li>
	</ul>
</div>

<div class="right_menu" id="right_menu" ng-show="right_menu_open" ng-click="$event.stopPropagation()">
	<ul>
		<div class="user_profile_div">
			<img class="close" src="img/close.png" alt="close" ng-click="toggleRightMenu($event)"/>
			<img class="profile_image" src="img/profile_img.png" alt="profile" /><br>
			<span class="profile_name">{{ user.first_name + ' ' + user.last_name }}</span>
		</div>
		<li>
			<a href="#profile"><img class="menu_icon" src="img/profile.png" alt="profile" /> My Profile</a>
		</li>
		<li>
			<a href="#myactivities"><img class="menu_icon" src="img/activity.png" alt="activity" /> My Activities</a>
		</li>
		<li>
			<a href="#settings"><img class="menu_icon" src="img/settings.png" alt="settings" /> Settings</a>
		</li>
		<li>
			<a href="#help"><img class="menu_icon" src="img/help.png"	alt="help" /> Help</a>
		</li>
		<li>
			<a href="#share"><img class="menu_icon" src="img/share.png" alt="share" /> Share App</a>
		</li>
		<li>
			<a href="#feedback"><img class="menu_icon" src="img/feedback.png" alt="feedback" /> Feedback</a>
		</li>
		<li>
			<a href="#follow"><img class="menu_icon" src="img/twitter.png"	alt="follow" /> Follow Us</a>
		</li>
		<li>
			<a href="#postAd"><img class="menu_icon"  /> Post Free Ad</a>
		</li>
		<li>
			<a href="" ng-click="logout()"><img class="menu_icon" src="img/logout.png" alt="logout" /> Logout</a>
		</li>
	</ul>
</div>
<p style="top:42px">menu_open: {{ menu_open }}</p>