<div ng-controller="headerCtrl" ng-include="'template/header.html'"></div>
<div class="container" ng-init="init()">
	<button class="edit_profile" ng-click="editProfile()">Edit &nbsp;<img class="button_icon" src="img/edit.png" alt="edit_profile"/></button>
	<button class="save_profile hide" ng-click="saveProfile()">Save &nbsp;<img class="button_icon" src="img/save.png" alt="save_profile"/></button>
	<h3>My Profile</h3> 
	<div class="profile_page_div">
		<img alt="profile" src="{{user.url}}" class="profile_page_image" ng-click="uploadImage()">
		<input id="fileupload" type="file"  accept="image/*" image="image1" resize-max-height="500" style="display: none" resize-max-width="500" resize-quality="0.7" resize-type="image/jpg" callback="imageUpload()"/>
		<div class="profile_page_info">
			<span> {{user.first_name + " " + user.last_name}}</span><br>
			<span> {{user.organization + ", " + user.city}}</span>
		</div> 
	</div>

	<table style="width: 50%;margin: 0 auto;" class="boldtable">
		<tr>
			<td align="left" style="width: 20%">Email</td>
			<td align="left" style="width: 80%">
			    <span class="">{{user.email_id}}</span>
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Organization</td>
			<td align="left" style="width: 80%">
				<span class="">{{user.organization}}</span>
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Designation</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.designation}}</span>
				<input type="text" class="edit_data hide" id='designation' value="{{user.designation}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">First Name</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.first_name}}</span>
				<input type="text" class="edit_data hide" id='firstname' value="{{user.first_name}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Last Name</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.last_name}}</span>
				<input type="text" class="edit_data hide" id='lastname' value="{{user.last_name}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">DOB</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.dob}}</span>
				<input type="date" class="edit_data hide" id='dob' value="{{user.dob}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Gender</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.gender}}</span>
				<div class="edit_data hide">
					<input type="radio"  value='Male' name='gender' checked>Male &nbsp;&nbsp; &nbsp;
					<input type="radio" value='Female' name='gender'> Female
				</div>
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Mobile No.</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.mobile_number}}</span>
				<input type="tel" class="edit_data hide" id='mobile' value="{{user.mobile_number}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Extension</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.extension}}</span>
				<input type="tel" class="edit_data hide" id='extension' value="{{user.extension}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">City</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.city}}</span>
				<input type="text" class="edit_data hide" id='city' value="{{user.city}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">PIN code</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.pincode}}</span>
				<input type="tel" class="edit_data hide" id='pin' value="{{user.pincode}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Country</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.country}}</span>
				<input type="text" class="edit_data hide" id='country' value="{{user.country}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Home Address</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.address}}</span>
				<input type="text" class="edit_data hide" id='address' value="{{user.address}}">
			</td>
		</tr>
		<tr>
			<td align="left" style="width: 20%">Home Phone</td>
			<td align="left" style="width: 80%">
				<span class="profile_data">{{user.landline}}</span>
				<input type="tel" class="edit_data hide" id='phone' value="{{user.landline}}">
			</td>
		</tr>
	</table>
</div>

<div ng-include="'template/footer.html'"></div>