
<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<a href='#/'><input type="image" src="img/back.png" id="back-button" ></a>
				<h4>Create an account</h4>
			</div>
			<div class="col-xs-5 col-sm-5 form-group">
				<input type="text" class="form-control" placeholder="First Name" id='firstName'>
			</div>
			<div class="col-xs-5 col-sm-5 form-group">
				<input type="text" class="form-control" placeholder="Last Name" id='lastName'>
			</div>
			<div class="col-xs-10 col-sm-10 form-group">
				<input type="radio"  value='Male' name='gender' checked>Male &nbsp;&nbsp;
				&nbsp;<input type="radio" value='Female' name='gender'> Female
			</div>
			<div class="col-xs-10 col-sm-10 from-group">
				<input type="email" class="form-control"  placeholder="Corporate email" id='rEmail'>
				</br>
				<div class="col-xs-12 col-sm-12 alert alert-danger hide" id='invalidDomain'>
				</div>
				<div class="col-xs-12 col-sm-12 alert alert-danger hide" id='existingUser'>
					This email id is already registered. Please <a href='#/'>sign in</a> with existing user.
				</div>
				<span class='hide' id='validDomain'>
					<div class="col-xs-12 col-sm-12 alert alert-success">
						<strong>Success!</strong> Authentication code has been sent to your corporate email please check your email.
					</div>
				</span>
			</div>
			<div class="col-xs-2 col-sm-2 from-group">
				<input type="image" src="img/get_code.png" height='36' width='36' title='send email' alt="Submit" ng-click="sendEmail()"> 
				
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-8 from-group">
				<input type="text" class="form-control" placeholder="Authentication code" id='authCode' disabled>
	
			<br>
			<div class="col-xs-12 col-sm-12 alert alert-danger hide" id='invalidSecCode'>
				Invalid security code.
			</div>
		</div>
		</div>
			
		<br>
		<div class="row">
			<div class="col-xs-8 col-sm-8 from-group">
				<a class="btn btn-default" href="" id='registerBtn' disabled ng-click='authentication()'>Register</a>
			</div>
		</div>
</div>