
 <div class="container">
		<div class='row'>
			<div class='col-xs-10 col-sm-10 col-xs-offset-1'>
				<h3 align='center'>Welcome</h3>
				<p>Bidapp helps you to sell your products within a organisation.</p>
			</div>
		</div>
</div>	
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h4>New User ?</h4>
				<input list="compList" name="compList" class="form-control" placeholder="Enter your company Name" id='organizationName'>
				<datalist id="compList">
					<option ng-repeat="comp in compList | orderBy:'name'">{{comp.name}}</option>
				</datalist>
				<br>
				OR
			</div>
		</div>
	</div>
	
	<div class="container">
		<h4>Existing User</h4>
		<div class="row">
			<div class="col-xs-10 col-sm-10 form-group">
				<input type='hidden' id='existingUserFlag'/>
				<input type="email" class="form-control" placeholder="Your corporate email" id='userEmail'>
			</div>
			<div class="col-xs-2 col-sm-2" id='get-code'>
				<input type="image" src="img/get_code.png" height='36' width='36' alt="Submit" ng-click='getCode()'> 
			</div>
			<div class="col-xs-10 col-sm-10 form-group">
				<div class="col-xs-12 col-sm-12 alert alert-success hide" id='validEmail'>
						<strong>Success!</strong> Authentication code has been sent to your corporate email please check your email.
				</div>
				<div class="col-xs-12 col-sm-12 alert alert-danger hide" id='invalidUser'>
						This email id is not registered.
				</div>
			</div>
			
		</div>
		<div class="row" >
			<div class="col-xs-8 col-sm-8 from-group">
				<input type="text" class="form-control" id="securityCode" placeholder="Security code">
				
				
				<br>
				
				<div class="col-xs-8 col-sm-8 alert alert-danger hide" id='invalidSecCode'>
						Invalid security code.
				</div>
			</div>
			
		</div>
		<br>
	
	</div>
	<div class="container">
		<div class="row">
			<input type="image" src="img/next.jpg" height='36' width='120' id='next-button' ng-click='next()'> 
		</div>
	</div>


 {{myVar}}
 <a href="#" ng-click="clickMe()">Click Me</a>