<div ng-controller="headerCtrl" ng-include="'template/header.html'"></div>
<div class="container">
	<br/>
	<div class="col-xs-12 col-sm-12 post">
		<div class="post-title border-bottom-1px">
			<span class="post-title" id="inputTitle"><strong>{{data.inputTitle}}</strong></span>	
		</div>

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox" align="center" data-interval="false">
				<div class="item active" id="displayImage">
					<img ng-src="{{data.priImageUrl.url}}" class="img-rounded post-img-dimension">
				</div>
				<div ng-repeat='secImg in data.secImageUrl' class="item">
					<img ng-src="{{secImg.url}}" class="img-rounded post-img-dimension">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" data-interval="false">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" data-interval="false">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<div class="post-spec">
			<div>
				<span class="panel-title uppercase" id="product"><b>Product: {{data.product}}</b></span>
			</div>

			<div class="post-attribute">
				<div ng-repeat='(key, value) in data.attribute' >
					<div ng-switch on="key">
						<div ng-switch-when="brand">
							<span class="panel-title" id="brand"><b>Brand:</b> {{value}}</span>
						</div>
						<div ng-switch-when="model">
							<span class="panel-title" id="model"><b>Model:</b> {{value}}</span>
						</div>
						<div ng-switch-when="price">
							<span class="panel-title" id="price"><b>Price:</b> {{value}}</span>
						</div>
						<div ng-switch-when="internal_memory">
							<span class="panel-title" id="internal_memory"><b>Internal Memory:</b> {{value}}</span>
						</div>
						<div ng-switch-when="year">
							<span class="panel-title" id="year"><b>Year:</b> {{value}}</span>
						</div>
						<div ng-switch-when="odometer_reading">
							<span class="panel-title" id="odometer_reading"><b>Odometer Reading:</b> {{value}}</span>
						</div>
						<div ng-switch-when="ram">
							<span class="panel-title" id="ram"><b>Ram:</b> {{value}}</span>
						</div>
						<div ng-switch-when="processor">
							<span class="panel-title" id="processor"><b>Processor:</b> {{value}}</span>
						</div>
						<div ng-switch-when="hard_disk">
							<span class="panel-title" id="hard_disk"><b>Hard Disk:</b> {{value}}</span>
						</div>
						<div ng-switch-default>
							<span class="panel-title" id="{{key}}"><b>{{key}}:</b> {{value}}**</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div align="center">
			<fieldset class="fieldset">
				<legend class="legend">Description</legend>
				<span class="panel-title" id="inputDescription">{{data.inputDescription}}</span>
				<span ng-if="!data.inputDescription">
						No description available...
				</span>
			</fieldset>
		</div>
		
		<div class="post-spec">
			<div class="post-bid">
				<span><b>Your Deal:</b></span>
				<input type="number" id="deal" placeholder="Your Deal"/><br>
			</div><br>
			
			<span><b>Comments:</b></span>		
			<div id="postedComments">
				<div ng-repeat='comment in data.comment' class='post-comment'>
					<div id="comment_{{comment.comment_id}}" class="post-comment-icon">						
						<div ng-if="comment.url">
							<img ng-src="{{comment.url}}" class="img-rounded post-comment-img">
						</div>
						<div ng-if="!comment.url">
							<i class="fa fa-user fa-4x"></i>
						</div>
					</div>
					<div class="post-comment-text">
						<span class="capitalize"> <b>{{comment.user_name}}:</b></span> <br> <span>{{comment.message}} <br> </span>
						<span style="font-size: 10px;"> {{comment.created_date | date:'EEE, MMM d, y hh:mm:ss'}}<br></span>
						
						<div ng-repeat='reply in comment.reply' class="post-comment-reply" ng-class-even="" ng-class-odd="">
							<span class="capitalize"> <b>{{reply.user_name}}: </b></span> <span>{{reply.message}} <br> </span>
							<span style="font-size: 10px;"> {{reply.created_date | date:'EEE, MMM d, y hh:mm:ss'}}</span>					
						</div>

						<a href="" ng-click='showDetails = ! showDetails'><i class="fa fa-reply"></i> Reply</a><br>
						<input type="input" class="form-control post-comment-reply-input" id="reply{{$index}}" ng-show="showDetails" placeholder="Reply to {{comment.user_name}}'s comment..."/>
						<i class="fa fa-check fa-2x post-reply-button" ng-show="showDetails" ng-click="postCommentOrReply($index)" ></i>
					</div>
				</div>
			</div>	
			
			<textarea class="form-control" id="comment" ng-model="commentMsg" placeholder="Enter your comments..."></textarea><br>
			<div align="right">
				<button type="button" id="submit" class="btn btn-default" ng-click="postCommentOrReply()">Submit</button>
			</div>
		</div>
	</div>
</div>

<div ng-include="'template/footer.html'"></div>